{# Menu du site #}
<nav>
    <ul>
        <li><a href="{{ path('accueil_index') }}">Accueil</a></li>
        <li><a href="{{ path('profil_index') }}">Profil</a></li>
        <li><a href="{{ path('produit_list') }}">Produits</a></li>
        <li><a href="{{ path('panier_index') }}">Panier</a></li>
        <li><a href="{{ path('utilisateur_list') }}">Utilisateurs</a></li>
        <li><a href="{{ path('produit_add') }}">Ajouter un produit</a></li>
        <li><a href="{{ path('admin_add') }}">Ajouter un administrateur</a></li>
    </ul>
</nav>